.content {
	padding-top: 10px;
	height: 120vh;
}
.item {
	position: relative;
	width: 940px;
	height: 150px;
	margin-left: 20px;
	margin-top: 20px;
	border: solid;
	border-color: #0D083B;
	border-width: 5px;
	border-radius: 15px;
	padding-top: 5px;
}
.item img {
	width: 100px;
	height: 130px;
	margin-left: 10px;
}
.item a {
	position: absolute;
	left: 150px;
	font-size: 30px;
	color: #5B5494;
}
.item p {
	position: absolute;
	left: 150px;
	top: 35px;
	font-size: 20px;
	color: #000;
}