.cont {
	position: absolute;
	left: 300px;
	top: 20px;
}
.cont h1 {
	font-size: 40px;
	color: #000;
}
.cont p {
	margin-top: 20px;
	font-size: 20px;
	color: #000;
}
.content img {
	width: 200px;
	height: 200px;
	position: absolute;
	left: 40px;
	top: 20px;
}